@using EduHome.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Slider


<div class="card">
	<div class="card-body">
		<h4 class="card-title">Slider</h4>

		<form class="forms-sample" method="post">
			<div class="form-group">
				<label for="exampleInputUsername1">Image</label>
				<input class="form-control" asp-for="Img" placeholder="Img">
				<span asp-validation-for="Img" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputUsername1">Title</label>
				<input class="form-control" asp-for="Title" placeholder="Title">
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			
			<div class="form-group">
				<label for="exampleInputUsername1">Description</label>
				<input class="form-control" asp-for="Description" placeholder="Description">
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<textarea id="editor"></textarea>
			<script>
				ClassicEditor
					.create(document.querySelector('#editor'))
					.then(editor => {
						console.log(editor);
					})
					.catch(error => {
						console.error(error);
					});
			</script>

			<button asp-action="Create" class="btn btn-primary mr-2">Create</button>

		</form>
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/ckeditor/ckeditor.js"></script>